html, body{
	width: 100%;
	height: 914px;
	margin: 0px;
	background-image: url("../imagenes/background.png");
}


/*Barra Inicial*/
#banner{
	width: 100%;
	height: 80px;
	background-image: url("../imagenes/barra_menu.png");
	background-size: 100% 100%;
}
#background{
	width: 100%;
	height: 100%
}
#imagen_banner{
	float: left;
	margin-left: 68px;
	height: 100%;
	width: 236px;
}
#botones_compartir{
	float: right;
	width: 190px;
	height: 100%;
}
#botones_menu{
	width: auto;
	margin-left: 304px;
	margin-right: 190px;
	height: 100%;
}
.textos{
	color: white;
	font-family: AvenirNextLTPro_Regular;
	font-size: 17px;
}

/*Fin barra inicio*/
#body{
	width: 100%;
	height: 770px;
}
#footer{
	width: 100%;
	height: 64px;
	/*/background-image: url("../imagenes/piePag.png");
	background-size: 100% 100%;*/
	background-color: rgb(223,223,223);
	position: relative;
}
#copyFooter{
	position: absolute;
  	top: 11px;
  	left: 20px;
}
#creditosBotonFooter{
	position: absolute;
  	right: 22px;
  	top: 20px;
  	cursor: pointer;
}
@font-face {
   font-family: AvenirNextLTPro_Bold;
   src: url(../font/AvenirNextLTPro-Bold.otf);
}
@font-face {
   font-family: AvenirNextLTPro_BoldCn;
   src: url(../font/AvenirNextLTPro-BoldCn.otf);
}
@font-face {
   font-family: AvenirNextLTPro_BoldCnIt;
   src: url(../font/AvenirNextLTPro-BoldCnIt.otf);
}
@font-face {
   font-family: AvenirNextLTPro_Cn;
   src: url(../font/AvenirNextLTPro-Cn.otf);
}
@font-face {
   font-family: AvenirNextLTPro_CnIt;
   src: url(../font/AvenirNextLTPro-CnIt.otf);
}
@font-face {
     font-family: 'AvenirNextLTPro_Demi';
	  src: url('../font/Demi/AvenirNextLTPro-Demi.eot'); /* IE9 Compat Modes */
	  src: url('../font/Demi/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('../font/Demi/AvenirNextLTPro-Demi.woff') format('woff'), /* Modern Browsers */
	       url('../font/Demi/AvenirNextLTPro-Demi.ttf') format('truetype'), /* Safari, Android, iOS */
	       url('../font/Demi/AvenirNextLTPro-Demi.svg') format('svg'); /* Legacy iOS */
	  font-weight: normal;
	  font-style: normal;
}
@font-face {
   font-family: AvenirNextLTPro_DemiCn;
   src: url(../font/AvenirNextLTPro-DemiCn.otf);
}
@font-face {
   font-family: AvenirNextLTPro_DemiCnIt;
   src: url(../font/AvenirNextLTPro-DemiCnIt.otf);
}
@font-face {
   font-family: AvenirNextLTPro_DemiIt;
   src: url(../font/AvenirNextLTPro-DemiIt.otf);
}
@font-face {
   font-family: AvenirNextLTPro_HeavyCn;
   src: url(../font/AvenirNextLTPro-HeavyCn.otf);
}
@font-face {
   font-family: AvenirNextLTPro_HeavyCnIt;
   src: url(../font/AvenirNextLTPro-HeavyCnIt.otf);
}
@font-face {
   font-family: AvenirNextLTPro_It;
   src: url(../font/AvenirNextLTPro-It.otf);
}
@font-face {
   font-family: AvenirNextLTPro_MediumCn;
   src: url(../font/AvenirNextLTPro-MediumCn.otf);
}
@font-face {
   font-family: AvenirNextLTPro_MediumCnIt;
   src: url(../font/AvenirNextLTPro-MediumCnIt.otf);
}
@font-face {
    font-family: 'AvenirNextLTPro_Regular';
	  src: url('../font/Regular/AvenirNextLTPro-Regular.eot'); /* IE9 Compat Modes */
	  src: url('../font/Regular/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('../font/Regular/AvenirNextLTPro-Regular.woff') format('woff'), /* Modern Browsers */
	       url('../font/Regular/AvenirNextLTPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	       url('../font/Regular/AvenirNextLTPro-Regular.svg') format('svg'); /* Legacy iOS */
	  font-weight: normal;
	  font-style: normal;
}
@font-face {
   font-family: AvenirNextLTPro_UltLtCn;
   src: url(../font/AvenirNextLTPro-UltLtCn.otf);
}
@font-face {
   font-family: AvenirNextLTPro_UltLtCnIt;
   src: url(../font/AvenirNextLTPro-UltLtCnIt.otf);
}
select{
	background-image: url('../imagenes/arrow_down.png');
  	background-size: auto 100%;
	background-color: transparent;
	background-position: 100% center;
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: transparent;
	-webkit-appearance: button;
	-moz-appearance: none;
	cursor: pointer;
	padding: 0 0 0 45px;
  	height: 39px;
	color: rgb(67,65,66);
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: rgb(67,65,66);
  	border-left: none;
  	border-right: none;
}
select::-ms-expand {
    display: none;
}
option{
	background-color: #47494E;
	color: #7b7b7b;
}

#tituloRostros{
  	overflow: hidden;
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	width: 270px;
	height: 39px;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	border-color: rgb(67,65,66);
	line-height: 39px;

}
#tituloRostros h1{
	font-family: AvenirNextLTPro_Regular;
	font-size: 19px;
	color: white;
	margin: 0;
	padding: 0;
}
#cargandoFiltrosMapa, #cargandoFiltrosMapaRostros{
	width: 100% !important;
	height: 100% !important;
	position: fixed;
	display: none;
	background-color: rgba(0,0,0,0.8);
	z-index: 1001;
}
#imagenCargandoFiltrosMapa, #imagenCargandoFiltrosMapaRostros{
	width: 110px;
	position: absolute;
	left: 46%;
	top: 41%;
}
#centroTexto{
	width: 980px;
	height: 39px;
	margin-left: auto;
	margin-right: auto;
	border-top: solid;
	border-width: 1px;
	text-align: center;
	border-color: rgb(67,65,66);
	line-height: 39px;
	padding: 0;
}
#centroTexto p{
	font-family: AvenirNextLTPro_Regular;
	font-size: 16px;
	color: white;
	margin: 0;
	padding: 0;
}
#filtroRostros{
	position: relative;
	width: 980px;
	height: 33px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 39px;
	padding: 0;
}
#filtroRostros p{
	font-family: AvenirNextLTPro_Regular;
	font-size: 14px;
	color: white;
	margin: 0;
	padding: 0;
}
#filtroRostros ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#filtroRostros li {
    display: inline;
}
#textoFiltro{
	border-top: solid;
	border-bottom: solid;
	width: 112px;
  	height: 37px;
	text-align: center;
	padding: 0;
	border-right: solid;
	border-color: rgb(67,65,66);
	border-width: 1px; 
}
#filtroEdad select{
	font-family: AvenirNextLTPro_Regular;
	font-size: 14px;
	position: absolute;
	width: 202px;
	left: 112px;
	top: 0;
}
#filtroGenero select{
	font-family: AvenirNextLTPro_Regular;
  	padding: 0 0 0 30px;
	font-size: 14px;
	position: absolute;
	width: 167px;
	left: 315px;
	top: 0;
}
#filtroGrupo select{
	font-family: AvenirNextLTPro_Regular;
	font-size: 15px;
	position: absolute;
	width: 313px;
	height: 39px;
	left: 475px;
	top: 0;
}
#rostrosParteAbajo{
	width: 87%;
	height: 536px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 48px;
}
#rostrosGaleria{
	position: relative;
	width: 100%;
	height: 504px;	
	margin-left: 33px;
}
.rostro{
	position: absolute;
	width: 150px;
	height: 150px;
	background-image:url('../imagenes/rostros/filtro.png');
	cursor: pointer;
}
.fondoRostro{
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: red;
}
.nombreRostro{
	position: absolute;
	background-image:url('../imagenes/rostros/recuadro_nombre.png');
	width: 150px;
	height: 42px;
	bottom: 0;
	border-width: 1px;
	border-top-color: white;
	color: white;
	font-family: AvenirNextLTPro_Regular;
	font-size: 14px;
	text-align: center;
	line-height: 42px;
	background-size: 100% 100%;

}
#rostrosDudas{
	color: rgb(113,113,117);
	margin-left:33px;
	margin-top:23px;
	font-family: AvenirNextLTPro_Regular;
	font-size: 16px;
}
#rostrosDudas a{
	margin-left: 8px;
	color: white;
	text-decoration: none;
}

/*Pantalla Inicial*/
#imagenPrincipal{
	width: 701px;
	height: 207px;
	margin-top: -70px;
	margin-right: auto;
	margin-left: auto;
}
#textoPrincipal{
	width: 608px;
	height: 241px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 92px;
	text-align: center;
	font-family: AvenirNextLTPro_Regular;
	font-size: 19px;
	color: white;
}
#firmaPrincipal{
	text-align: right;
	font-style: italic;
}
#botonPrincipal{
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	width: 68px;
	height: auto;
}

#popUpRostro{
                display: none;
                z-index: 1001;
                width: 100%;
                height: 100%;
                position: fixed;
                margin-top: -123px;
                background-color: rgba(10,10,10,0.8);
}
#detallesPopUpRostro{
                background-color: rgba(0,0,0,0.8);
                width: 730px;
                position: relative;
                height: 210px;
                margin-left: auto;
                margin-right: auto;
                top: 50%;
                transform: translateY(-50%);
}
.sinResultado{
	font-size: 30px;
	text-align: center;
	color: white;
	font-family: AvenirNextLTPro_Regular;
	padding-top: 150px;
}
#rostros:hover{
	background-image: none;
}
#rostros:hover #rostroImagen{
	display: none;
}

/* hover de la sección banner */
#boton_rostros:hover p{
  text-shadow: -1px -1px 23px rgba(255, 255, 255, 1);
  height: 52px;
  border-bottom: 2px white;
  border-bottom-style: solid;
  font-size: 16px;
  margin: 0px;
}

#boton_mapa:hover p{
  text-shadow: -1px -1px 23px rgba(255, 255, 255, 1);
  height: 52px;
  border-bottom: 2px white;
  border-bottom-style: solid;
  font-size: 16px;
  margin: 0px;
}

#boton_formulario:hover p{
  text-shadow: -1px -1px 23px rgba(255, 255, 255, 1);
  height: 52px;
  border-bottom: 2px white;
  border-bottom-style: solid;
  font-size: 16px;
  margin: 0px;
}

#boton_preguntas:hover p{
  text-shadow: -1px -1px 23px rgba(255, 255, 255, 1);
  height: 52px;
  border-bottom: 2px white;
  border-bottom-style: solid;
  font-size: 16px;
  margin: 0px;
}

#google_boton:hover{
       background-color:#dd4b39;        
       background-image:url('') !important;
}
#twitter_boton:hover{
       background-color:#00aced;        
       background-image:url('') !important;
}
#facebook_boton:hover{
       background-color:#3b5998;        
       background-image:url('') !important;
}
.pagSeleccionada{
	color: rgba(30,99,132,0.7) !important;
	border-bottom: 1px;
	border-bottom-style: solid;
}
#caracteristicasDetallesPopUpRostro::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#caracteristicasDetallesPopUpRostro::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#caracteristicasDetallesPopUpRostro::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@media screen and (max-width: 1281px) {
	#textosCreditos{
		left: 19% !important;
	}
	#imagen_banner {
		margin-left: 0px;
	}
	#div_botones_menu{
		width: 760px !important;
	}
	#botones_menu {
	  	margin-left: 240px;
	}
	#boton_rostros{
	  	margin-left: 20px !important;
	}
}
@media screen and (max-width: 1171px) {
	#rostrosDudas{
		width: 820px !important;
	}
	#lineaTiempoDerecha{
	  	margin-top: 65px !important;
	}
	.rostro{
		width: 120px;
		height: 120px;
	}
	.nombreRostro{
		width: 120px;
		overflow: hidden;
	}
	.fotoRostro{
		height: 120px !important;
  		width: 120px !important;
	}
	#imagenPrincipal img{
		margin-top: 17px;
		height: 206px;
	}
	#textoPrincipal{
		margin-top: 65px;
	}
	#botonPrincipal{
		margin-top: 31px;
	}
	#copyFooter{
		height: 37.5px;
  		left: 10px;
	}
	#creditosBotonFooter{
		height: 30px;
		right: 12px;
  		top: 18px;
	}
	#textosCreditos{
		left: 11% !important;
	}
	#imagen_banner a img{
		height: 73px;
		margin-top: 5px;
	}
	#boton_rostros{
		margin-left: 0px !important;
	}
	#boton_mapa{
		margin-left: 2% !important;
	}
	#boton_formulario{
		margin-left: 2% !important;
	}
	#boton_preguntas{
		margin-left: 2% !important;
	}
}